{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block head %}
<link rel= "stylesheet"  href= "{{ url_for('static',filename='styles/style.css') }}">
{% endblock %}
{% block content %}
<form method="POST">
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" class="form-control" id = "name" name = "name" placeholder="Enter your name" >
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" class="form-control" id = "username" name = "username" placeholder="Enter your username" >
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" class="form-control" id = "email" name = "email" placeholder="Enter your email" >
          </div>
          <div class="input-box">
            <span class="details">ID</span>
            <input type="text" class="form-control" id = "id" name = "id" placeholder="Enter your ID" >
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" class="form-control" id = "password1" name = "password1" placeholder="Enter your password" >
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" class="form-control" id = "password2" name = "password2" placeholder="Confirm your password" >
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</form>
{% endblock %}
